@import "../../Utiles/Styles/variables.scss";
.Contact{
    justify-content: center;
    
display: flex;
justify-content: center;
text-align: center;
gap: 2rem;
&__catBox{
    
    text-align: center;
    justify-content: center;
    img{
        width: auto;
    }
}
.services{

    justify-content: center;
text-align: center;
}
span img{
    width: 25px;
    
}
p{
    font-family: "roboto";
    font-weight: 500;
}

    &__logo{
        text-align: center;
        
       
        img{
            width: 20px;
            position: relative;
        }
        h1{
            font-family: "mulish";
            font-weight: 800;
            color: $colorRed;
            position: relative;
            font-size: 40px;
            top: -34px;
        }
    
}


@media(max-width: 970px){
    
    &__helpBox{
        margin-top:320px;
    }
    .services{
        text-align: center;
        margin-top: -260px;
    }
}
@media(max-width: 600px){
  
    &__helpBox{
        margin-top:390px;
    }
    .services{
        text-align: center;
        margin-top: -90px;
    }
   
}
@media(max-width: 320px){
    flex-direction: column;
span img{
    width: 100px;
    margin-top: 57px;
}
}

}